body{
	background: #CB6E6D url(img/bg2.jpg) repeat-y fixed !important;
	-webkit-background-size:100%;
	background-size:100%;
	font-size: 16px;
	font-family:"Times New Roman",Georgia,Serif;
	height:100%;
	margin:0;
	padding:0;
	max-width:none
}

@font-face {
    font-family: "myriad";
    src: url("fonts/myriadproregular.eot");
    src: url("fonts/myriadproregular.eot?#iefix") format("embedded-opentype"),
    url("fonts/myriadproregular.woff") format("woff"), 
    url("fonts/myriadproregular.ttf") format("truetype"), 
    url("fonts/myriadproregular.svg#Gotham-Book") format("svg");
}


@font-face {
    font-family: "MyriadPro-Cond";
    src: url("fonts/MyriadPro-Cond.eot");
    src: url("fonts/MyriadPro-Cond.eot?#iefix") format("embedded-opentype"),
    url("fonts/MyriadPro-Cond.woff") format("woff"), 
    url("fonts/MyriadPro-Cond.ttf") format("truetype"), 
    url("fonts/MyriadPro-Cond.svg#Gotham-Book") format("svg");
}

@font-face {
    font-family: "MyriadPro-BoldCond";
    src: url("fonts/MyriadPro-BoldCond.eot");
    src: url("fonts/MyriadPro-BoldCond.eot?#iefix") format("embedded-opentype"),
    url("fonts/MyriadPro-BoldCond.woff") format("woff"), 
    url("fonts/MyriadPro-BoldCond.ttf") format("truetype"), 
    url("fonts/MyriadPro-BoldCond.svg#Gotham-Book") format("svg");
}

@font-face {
    font-family: "MyriadPro-It";
    src: url("fonts/MyriadPro-It.eot");
    src: url("fonts/MyriadPro-It.eot?#iefix") format("embedded-opentype"),
    url("fonts/MyriadPro-It.woff") format("woff"), 
    url("fonts/MyriadPro-It.ttf") format("truetype"), 
    url("fonts/MyriadPro-It.svg#Gotham-Book") format("svg");
}

@font-face {
    font-family: "agency";
    src: url("fonts/agency_fb.eot");
    src: url("fonts/agency_fb.eot?#iefix") format("embedded-opentype"),
    url("fonts/agency_fb.woff") format("woff"), 
    url("fonts/agency_fb.ttf") format("truetype"), 
    url("fonts/agency_fb.svg#Gotham-Book") format("svg");
}

#content{
	max-width: 1366px;
	margin: 0 auto;
}

a{text-decoration: none; color: #333; outline: 0}
a:hover{outline: 0}

p{ margin: 0px 0px 10px 0px !important}

header{width: 100%; text-align: center;}
h1{position: relative; left: 10px}
header h1,.toping{display: inline-block; vertical-align: middle;}

#suckerfishnav li a.current{color: #fff !important}

.bgl,.bgl2,.bgl3,.bgl4,.bgl5,.bgl6,.bgl7,.bgl8,.bgl9,.bgl10,.bgl11,.bgl12 
{background: #fff;padding: 2px;}

/*.bgl{width: 74px !important;}
.bgl2 {width: 105px !important;}
.bgl3 {width: 155px !important;}
.bgl4 {width: 175px !important;}
.bgl5 {width: 100px !important;}
.bgl12 {width: 210px !important;}*/
.sticker {
	float: left;
	position: relative;
	top: 45px;
	left: 30px;
}

.toping {
	width: 74%;
	vertical-align: top;
	margin-top: -6px;
}

.socials {
	width: 20%;
	position: relative;
	top: 36px;
	left: 160px;
}

.socials a {
	padding: 5px;
}

.topign,.sticker,.socials,.idiomas{display: inline-block; vertical-align: middle;}

.navigation{
	display: block;
	margin-top: 20px;
	width: 85%;
	float: right;
	text-align: left;
}



.block-top{
	
	background: orange
}


.idiomas {
	background: url(img/bg-idiomas.png) no-repeat;
	width: 232px;
	height: 50px;
	float: right;
	margin-top: 30px;
	margin-right: -12px;
}

.idiomas a {
	font-family: 'MyriadPro-Cond';
	font-size: 23px;
	display: inline-block;
	color: #fff;
	font-style: italic;
	padding: 5px 12px;
	margin-top: 9px;
}

li.segundo{width: 160px}

.line {
	background: #000;
	height: 1px;
	overflow: hidden;
	width: 110px;
	opacity: 0.4;
	position: relative;
	top: 2px;
}

.line2 {
	background: #000;
	height: 1px;
	overflow: hidden;
	width: 189px;
	opacity: 0.4;
	position: relative;
	top: 2px;
}

.line3 {
	background: #000;
	height: 1px;
	overflow: hidden;
	width: 115px;
	opacity: 0.4;
	position: relative;
	top: 2px;
}

.line4 {
	background: #000;
	height: 1px;
	overflow: hidden;
	width: 269px;
	opacity: 0.4;
	position: relative;
	top: 2px;
}

.line5 {
	background: #000;
	height: 1px;
	overflow: hidden;
	width: 225px;
	opacity: 0.4;
	position: relative;
	top: 2px;
}


.line6 {
	background: #000;
	height: 1px;
	overflow: hidden;
	width: 58px;
	opacity: 0.4;
	position: relative;
	top: 2px;
}


.slideshow{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.slideshow img {max-width: 100%}

.pic-page{
	width: 100%;
	margin-top: 90px;
	padding-bottom: 15px;
	text-align: center;
}

.pic-page img {max-width: 100%}


.pic{
	max-width: 1366px;
	margin: 0 auto;
	text-align: left;
}

.pic-content{
	display: inline-block;
	background: #fff;
	margin: 0 auto;
	vertical-align: top;
	height: 300px;
}


.pic-pic{
	width: 58%;
}

.pic-pic2{
	width: 49%;
	margin-left: -4px;
	
}

.pic-pic2 img{
	max-width: 100%;
	height: 312px;
}



.pic-pic3 img{
	max-width: 100%;
	height: 310px;
}


.pic-info {
position: relative;
padding-top: 50px;
-ms-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
width: 563px;
}

.pic-info2 {
	padding: 10px;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 312px;
	width: 51%;
}


.pic-info3,.pic-pic3
{
	display: inline-block;
}

.pic-info3{
	width: 35% !important; 
	position: relative; 
	left: -4px;	
	padding: 10px;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 300px;
}
.pic-pic3{width: 64% !important; overflow: hidden; position: relative; left: 8px}
.pic-pic3 img {max-width: 100%}

.bg_white{background: #fff}

.about_contact {
	width: 98.4% !important;
	background: #ea9d9d;
	padding: 10px;
}

.about_contact p {
	font-family: 'agency';
font-size: 23px;
color: #333333;
text-align: left;
margin-left: 22px !important;
}

.centered{
	width: 85%;
	text-align: justify;
	margin: 0 auto !important;
	color: #d1706e;
	font-family: 'MyriadPro-Cond';
	font-size: 19px;
}

.centered2{
	width: 90%;
	text-align: justify;
	margin: 18px auto !important;
	color: #d1706e;
	font-family: 'MyriadPro-Cond';
	font-size: 19px;
	position: relative;
}

.centered3{
	width: 95%;
	text-align: justify;
	margin: 0 auto !important;
	color: #d1706e;
	font-family: 'MyriadPro-Cond';
	font-size: 19px;
	position: relative;
	top: 61px;
	left: 15px;
}

.contenido-home {
	/*max-width: 900px;*/
	width: 95%;
	margin: 0 40px;
	font-family: 'times new roman';
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
}

.contenido-home h2 {
	font-size: 51px;
	font-family: 'MyriadPro-BoldCond';
	width: 90%;
	text-align: justify;
	line-height: 45px;
	margin-top: 60px;
}

#content > div.contenido-home > h4 {
line-height: 40px;
font-family: 'MyriadPro-BoldCond';
color: #333;
}


#content > div.contenido-home > div > img {
width: 220px;
height: auto;
border-radius: 20px;
}


.thumbnail {
display: inline-block;
float: left;
padding-right: 10px;
}

.contenido-home img{
    display: block;
    float: left;
    margin: 0 15px 0 0;
}

#content > div > div > ul > li {
margin-bottom: 30px;
}


.contenido{
	margin: 0 auto;
	max-width: 1366px;
}

.contenido-history{
	margin: 0 auto;
	max-width: 1366px;
	background: #A5BA58;
	text-align: left;
}

.bloques{
	margin-top: 85px;
	text-align: center;
}
.bloques2{
	margin-top: 85px;
}

.error_404 {
	display: block;
	width: 576px;
	margin: 0 auto;
	background: #000;
	opacity: 0.6;
	color: #fff;
	padding: 7px;
	font-family: 'agency';
	font-size: 240px;
	text-align: center;
}

.error_404-text {
	display: block;
	width: 576px;
	margin: 0 auto;
	background: #000;
	opacity: 0.5;
	color: #fff;
	padding: 7px;
	font-family: 'agency';
	font-size: 40px;
	text-align: center;
	border-top: 1px #fff solid;
}

.line-top{
	width: 100%;
	height: 31px;
	background: #A5BA58;
}

.contenido .colum-1{
	width: 30%; 
	display: inline-block; 
	vertical-align: top;
	margin: 0 5px;
}

.contenido .colum-2{
	width: 90%;
	margin: 0 auto
}


.contenido .colum-3{
	width: 28.5%;
	display: inline-block; 
	vertical-align: top;
	margin: 0 10px;
	overflow: hidden;
}

.contenido .colum-4 {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	background: #ea9d9d;
	padding: 7px;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

span.title {
	width: 31%;
	margin: 4px auto;
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	font-family: 'MyriadPro-BoldCond';
	background: #A5BA58;
	font-size: 21px;
}

span.title2 {
	width: 30%;
	margin: 5px auto;
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	font-family: "myriad";
	background: #A5BA58;
	font-size: 18px;
	display: none;
}


.contenido .colum-1 p {
	text-align: justify; 
	font-family: 'MyriadPro-Cond'; 
	font-size: 20px;
	color: #333333; 
}
.contenido .colum-2 p {
	font-family: 'MyriadPro-Cond'; 
	font-size: 27px; 
	color: #333333; 
	text-align: center;
	line-height: 30px;
}
.contenido .colum-3 p {
	font-family: 'MyriadPro-Cond'; 
	font-size: 20px; 
	color: #333333; 
	text-align: left;
   margin-top: 10px !important
}

.contenido .colum-4 p {font-family: 'agency'; font-size: 22px; color: #333333; text-align: center;
margin-top: 10px !important}

.centro,.centro2,.centro3 {
	display: block;
	width: 576px;
	margin: 0 auto;
	background: #000;
	opacity: 0.6;
	color: #fff;
	padding: 7px;
	font-family: 'MyriadPro-Cond';
	font-size: 36px;
	height: 34px;
	line-height: 35px;
}

.title_terapia {
	display: block;
	width: 471px;
	margin: 0 auto;
	background: #000;
	opacity: 0.6;
	color: #fff;
	padding: 7px;
	font-family: 'MyriadPro-Cond';
	font-size: 36px;
	height: 34px;
	line-height: 35px;
	position: relative;
	top: 30px;
}

.bg-black {
	position: absolute;
	background: #000;
	padding: 10px;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;ox;
	color: #fff;
	width: 42%;
	font-family: 'MyriadPro-Cond';
	font-size: 35px;
	z-index: 5;
	margin-left: -4px;
}

.centro2{
	width: 470px;
	position: relative;
	top: 35px;
}

.centro3 {
	width: 261px;
	border-radius: 7px;
	padding: 5px;
	position: relative;
	left: 150px;
	top: 20px;
}

.centro3 a {
	color: #fff;
	font-size: 30px;
	left: 20px;
	position: relative;
	top: -3px;
}

.date {
	text-align: left;
	position: relative;
	top: 10px;
	font-family: 'MyriadPro-It';
	font-size: 21px;
	padding-top: 10px;
	padding-bottom: 45px;
}
	
.first {
	width: 480px;
	line-height: 24px;
	text-align: justify;
	font-size: 21px;
}

.second {
	line-height: 26px;
	position: relative;
	top: 8px;
	text-align: justify;
	font-size: 21px;
	width: 530px;
}


.entrada{
	width: 38%;
	display: inline-block;
	vertical-align: top;
	margin: 0 25px;
}

.colum-welcome {
	display: inline-block;
	width: 58%;
	vertical-align: top;
}

.txt {
	width: 39% !important;
	font-family: 'MyriadPro-Cond';
	font-size: 19px;
	text-align: justify;
}

.beging{
	text-align: justify;
	font-family: 'MyriadPro-Cond';
	font-size: 19px;
	width: 86%;
	margin: 25px 56px !important;
}

.colum-history {
	display: inline-block;
	width: 44%;
	vertical-align: top;
}

.colum-history p {
	font-family: 'MyriadPro-Cond';
	font-size: 19px;
	text-align: justify;
	position: relative;
	left: 85px;
	top: 15px;
}


#content > div > div > h2 {
font-family: 'MyriadPro-Cond';
font-size: 24px;
color:#000;
margin: 20px auto;
}

.shortcode-area {
max-width: 770px !important;
width: 100%;
margin-left: 360px;
}

#content > div > div > ul > li > div.shortcode-thumb > a > img {
width: 130px;
height: auto;
}

#content > div > div > ul > li > div.shortcode-title > a {
margin-bottom: 20px;
font-family: 'MyriadPro-Cond';
font-size: 30px;
color:#000;
}

#content > div > div > ul > li > div.shortcode-title > p {
font-family: 'MyriadPro-Cond';
line-height: 22px;
color: #333333;
font-size: 20px;
}


#content > div.contenido-home > a > img {
width: 250px;
height: auto;
}

#content > div > div.m_boletin_2014 {
position: absolute;
margin-top: -289px;
margin-left: 48px;
}


.contenedor_lista_boletines{
max-width: 500px;
margin-left: 360px;
margin-top: 50px;
font-family: 'MyriadPro-Cond';
line-height: 22px;
color: #333333;
font-size: 20px;
}

.boletines_lista li{
	color: #333;
	list-style: circle;
	margin-left: 30px;
}

.boletines_lista li a{
	color: #333;
}


footer{
	max-width: 1366px;
	margin-top: 20px;
}
.funcio{
	margin-left: -30px;
}

.block {
	display: inline-block;
	vertical-align: middle;
	width: 32%;
	text-align: center;
}

.catalogo{
	text-transform: uppercase;
	border-top: 2px #000 solid;
	padding-top: 2px;
}

.design{
	font-family: 'MyriadPro-Cond';
	font-size: 20px;
	color: #fff;
	position: relative;
	top: 8px;
	opacity: 0.5;
}

.gestionado{
	font-family: 'MyriadPro-Cond';
	font-size: 19.7px;
	color: #333;
	position: relative;
	
}

.gestionado, img {vertical-align: middle !important;}


.two{
	position: relative;
	left: 75px;
	top: 30px;
	width: 56%;
}

.three {
	text-align: right;
	position: relative;
	left: 70px;
	float: right;
}

.three img {
	text-align: right;
	margin-right: 20px;
}

.block p,a{display: inline-block; vertical-align: middle;}

.mobile {
	clear: both;
	text-align: center;
	width: 100%;
	display: none;
}

select {
		background: #C86E6D !important;
		padding: 5px;
		border: none;
		margin: 10px auto;
		outline: 0;
		font-family: 'myriad'; 
		color: #fff;
		font-size: 12px;
		text-align: center;
	}



 @-moz-document url-prefix(){



.pic-content{
margin: 0;
}

.pic-info{
	width: 33.7% !important;
}

.pic-info2{
	width: 593px !important;
}

}




	/* Modal Window ************************************/

 #form{
	  	margin: 10px auto;
	  	max-width: 1200px;
	  	background: #291212;
	  	position: absolute;
	  	
	  }

	  #form img {margin-left: 10px}

	  #form h1 {
				color: #D1706E;
				font-family: 'myriad';
				text-align: center;
				font-size: 24px;
			
			}


		.block-1-form {
			width: 48.5%;
			display: inline-block;
			vertical-align: top;
			margin: 0 5px;
		}

		.block-2-form {
			width: 31.9%;
			display: inline-block;
			margin: 10px 5px;
		}

		.block-3-form {
			width: 31.9%;
			display: inline-block;
			margin: 10px 5px;
			border-right: 2px #D1706E solid;
		}	


		.block-3-form span {
			text-transform: uppercase;
			font-family: 'myriad';
			color: #D1706E;
			font-size: 19px;
			font-weight: bold;
			margin-left: 13px;
		}

		.block-3-form span,input{display: inline-block; vertical-align: middle;}
		.block-3-form input{display: block;}

			.name,.number,.direccion,.city,.cod_postal,.country,.phone,.provincia,.email{
				display: block;
				margin: 10px;
				width: 100%;
				font-family: 'myriad';
				color: #D1706E;
			}

			.name input,.direccion input,.number input,.city input,.cod_postal input,
			.country input,.phone input,.provincia input, .email input {
			border: 1px #D1706E solid;
			outline: 0;
			width: 400px;
			height: 17px;
			background: none;
			color: #fff;
			font-family: 'myriad';
			font-size: 16px;
			margin-left: 20px;
			}

			.number input{
				width: 285px;
					
			}

			.direccion input{
				width: 400px;
			}

			.city input,.country input,.provincia input{width: 230px}

			.cod_postal input,.phone input,.email input{
				width: 200px;
			}

			.cod_postal input {
				width: 185px;
			}

			.phone input {
				width: 197px;
			}

			.email input {
			width: 229px;
			margin-left: 42px;
			}

			input[type=checkbox] 
			{
			    padding-left:5px;
			    padding-right:5px;
			    border-radius:15px;
			    -moz-appearance:button; /* Firefox */
-webkit-appearance:button; /* Safari and Chrome */
			    border: double 1px #D1706E;
			    color:#FFF;
			    white-space: nowrap;
			    overflow:hidden;
			    outline: 0;
			    width:15px;
			    height:15px;
			    margin: -2px 0;
		   }

		   input[type=checkbox]:checked {
		    border: double 1px #fff;
			}

			.item-check {
			width: 30%;
			float: right;
			margin-right: 60px;
			position: relative;
			top: 10px;
			}

			span.sign {
			display: inline-block;
			font-size: 12px;
			margin-top: -34px;
			margin-left: 17px;
			}


			span.sign2 {
				font-size: 12px !important;
				width: 169px;
				position: relative;
				left: 11px;
				top: -16px;
			}

			.item-check2 {
				width: 14%;
				display: inline-block;
				float: right;
				margin: 0 10px;
				position: relative;
				left: -75px;
				top: 10px;
			}

			.other {
				width: 58px;
				display: inherit;
				position: absolute;
				background: none;
				border: 1px solid #D1706E;
				height: 17px;
				left: 32px;
				top: 48px;
				outline: 0;
				color: #fff;
				font-family: 'myriad';
				font-size: 16px;
			}

			.buy{
				border-right: none;
			}

			#mostrar {
				font-size: 12px !important;
				font-family: 'myriad';
				color: #D1706E;
				width: 403px;
				position: relative;
				left: -233px;
				text-align: right;
				top: -4px;
				display: none;
			}

			.open {
				margin-left: 20px;
				position: relative;
				top: 40px;
				font-family: Calibri;
				text-decoration: none;
				color: orange;
				font-size: 20px;
				font-style: italic;
			}

			.open:hover{ color: brown }

			.fadescreen {
				left: 0px;
				top: 0px;
			background: rgba(0,0,0,0.3);
			width: 100%;
			height: 100%;
			position: fixed;
			display: none;
			z-index: 10;
			}

			.ligth{
				background: #fff;
				width: 90%;
				height: 400px;
				padding: 10px;
				position: absolute;
				display: none;
			}

			#window{
				position: relative;
				width: 87%;
				/*left: calc(20% - 130px - 1em);*/
				top: -2900px;
				z-index: 1000;
				margin: 0 auto;
				transition:all 1s;
			
			}

			.middle_top{
				top: -685px !important;
			}

			.blur{
				-webkit-filter: blur(5px);

			}
			#open_window{color: #fff}

			.close {
			display: inline-block;
			text-align: right;
			width: 70%;
			vertical-align: top;
			margin-top: 45px;
			}

			.send {
			text-align: center;
			padding: 5px;
			margin-top: 20px;
			margin-bottom: 10px;
			}

		.send input {
		background: #D1706E;
		color: #000000;
		padding: 5px;
		padding-left: 30px;
		padding-right: 30px;
		font-family: 'myriad';
		border-radius: 5px;
		border: none;
		outline: 0;
		font-size: 16px;
	}


@media screen and (max-width: 1024px){


	.toping{width: 68%}
	#suckerfishnav a{font-size: 25px !important}
	#suckerfishnav li{margin: 0px 12px !important}
	.navigation{margin-top: 50px}
	.socials {
	width: 27%;
	position: relative;
	top: 36px;
	left: 60px;
}
.bloques{margin-top: 90px}
.entrada{width: 48%;margin: 0}
.first{width: 100%; line-height: 27px; position: relative; top: 57px}
.second{width: 95%; margin-left: 15px !important}
.funcio{margin-left: 0px}
.three{width: 50%; left: 40px}
.bg-black{width: 46%; font-size: 31px}
.centered{font-size: 17px}
.centered2{margin: 15px auto !important; font-size: 18px}
.centered3{font-size: 17px; top: 51px}
.pic-pic {width: 629px;}
.colum-history{width: 45%}
.colum-history p {font-size: 17px;width: 95%;left: 109px;top: 9px;}
.colum-welcome{width: 59%}
.colum-welcome img {
max-width: 100%;
}
#form{text-align: center;}
.close{width: 60%}
.block-1-form{width: 48%; text-align: left;}
.name input,.number input,.direccion input{margin-left: 0px; width: 90%}

.block-2-form{text-align: left; width: 31%; margin-left: 9px; vertical-align: top;}
.email input{width: 208px; margin-left: 0px; display: block;}
.city input,.country input,.provincia input,.cod_postal input,
.phone input{display: block; margin-left: 0px}
.block-3-form {
					border-right: none;
					border-bottom: 2px #D1706E solid;
					width: 49%;
					text-align: left;
					padding-bottom: 10px
					}
}


@media screen and (max-width: 959px){

.contenedor_lista_boletines {
width: 60%;
margin: 0 auto;
text-align: center;
}

.boletines_lista li{		
	list-style: none;
}

.boletines_lista li a {
padding: 5px 130px;
background: #ccc;
border-radius: 5px;
opacity: 0.5;
margin-bottom: 20px;
}

.m_boletin_2014 {
display: block;
position: relative !important;
margin-top: 0px !important;
margin-left: 0px !important;
text-align: center;
}

#content{
	width: 95%;
}

.js #menu_mobil { display: none; }

#content img {max-width: 100%}

.sticker,.socials,.idiomas{
	width: 100%;
	margin: 38px auto;
}
h1{left: 0}
#zzz{width: 95% !important}

.sticker,.socials{left: 0; top: 0}

.idiomas {
	background-image: none;
	background: #492929;
	border-radius: 5px;
	width: auto;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 2px;
}

.idiomas a {
	font-size: 20px;
	margin-top: 10px;
}

.socials,.idiomas,.navigation{margin-top: 0}

footer{text-align: center;}

.colum-welcome{width: 100% !important}
.beging{margin-left: 0px !important}

.colum-history{width: 100%}
.colum-history p {
	width: 80%;
	padding: 5px;
	padding-bottom: 25px;
}

.block {
	display: block;
	width: 100%;
	text-align: center;
	margin: 25px auto;
}

.contenido,.contenido-home,.pic{ width: 98%; margin: 20px auto}

.entrada{display: block; width: 95%; margin-left: 5px}
.toping,.sctiker,.idiomas{float: none;}
.toping{text-align: center;}
.socials{left: 0px}
.first,.second{width: 100% !important; font-size: 20px; line-height: 23px}

.two,.three{left: 0}
.contenido-home h2{width: auto;}
.pic-pic {width: auto; height: auto;}

.contenido .colum-4{margin-bottom: 10px; margin-top: -30px}

.attachment-full {
	width: 100%;
	height: auto !important;
}

.pic-info3 {
	width: 100% !important;
	left: 0;
	height: auto;
	padding-bottom: 60px;
padding-top: 40px;
padding-right: 45px;
}

.bg-black{width: 93%}
.pic-pic3{width: auto !important; height: auto; left: 0}
.about_contact{width: 97%; margin-top: -30px}

.about_contact p {
	text-align: center;
	margin-left: 0px !important;
	font-size: 30px;
	line-height: 30px;
}

.pic-page{margin: 10px auto}
.pic-page img {height: auto;}

.title_terapia {
	width: auto;
	font-size: 16px;
}

.centro,.centro2,.centro3 {
	width: 50%;
	font-size: 16px;
	left: 20px;
}


.contenido .colum-1,
.contenido .colum-2,
.contenido .colum-3,
.contenido .colum-4{width: 100%}

.contenido .colum-1 p,
.contenido .colum-2 p,
.contenido .colum-3 p,
.contenido .colum-4 p{width: 95%; padding: 10px; -ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;}

.slideshow{margin: 10px auto}
.gestionado{top: 0; display: block !important;}
.pic-info2,.pic-pic2,.pic-info{width: 100% !important; height: auto;}

.pic-info{left: 0}

.pic-pic2{margin-left: 0px}
.line-top{display: none;}

span.title2 {
	width: 100%;
	padding: 5px;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}

.centro2,.centro {
	width: 96%;
	margin-top: 60px;
}

.colum-3{margin: 15px auto !important}

.colum-3 img {
	max-width: 100%;
	margin-top: -5px;
}

nav ul     { display: none; }
.mobile {
	display: block;
	width: 100% !important;
	text-align: center;
	margin-left: -30px;
}
.mobile select {width: 100%}
.bloques{margin: 30px auto}


.close{width: 50%}
				#form{text-align: center;}
				.block-1-form{width: 45%; overflow: hidden;
					margin: 30px auto; text-align: left;}
				.block-2-form{
					width: 30%;
					vertical-align: top;
				}

				.block-3-form{
					width: 50%;
				}

			.name input,.direccion input,.number input,.city input,.cod_postal input,
			.country input,.phone input,.provincia input, .email input{
				display: block;
				width: 94%;
				margin-left: 0px;
				margin-top: 10px;

			}


}

@media screen and (max-width: 767px){

	.contenedor_lista_boletines {
width: 60%;
margin: 0 auto;
text-align: center;
}

.boletines_lista li{		
	list-style: none;
	margin-left: 0px !important
}

.boletines_lista li a {
padding: 5px 130px;
background: #ccc;
border-radius: 5px;
opacity: 0.5;
margin-bottom: 20px;
}

		.m_boletin_2014 {
display: block;
position: relative !important;
margin-top: 0px !important;
margin-left: 0px !important;
text-align: center;
}

			

			.block-1-form,.block-2-form{
							display: block;
							width: 90%;
							text-align: left;
							padding-bottom: 10px;
							margin: 30px auto;
							
						}

			.block-3-form{
							width: 90%;
							border-right: none;
							border-bottom: 2px #D1706E solid;
							padding-bottom: 10px;
						}

				.colum-history p {
					/* background: red; */
					left: 0;
					width: auto;
					padding: 15px;
				}	

			.centro3 a{margin-left: 55px; font-size: 25px; color: #fff}

			.shortcode-area {
				width: 90%;
				margin: 0 auto;
				}

			}

@media screen and (max-width: 600px){

	

}

@media screen and (max-width: 480px){

	.contenedor_lista_boletines {
width: 60%;
margin: 0 auto;
text-align: center;
}

.boletines_lista li{		
	list-style: none;
	margin-left: 0px !important
}

.boletines_lista li a {
padding: 5px 130px;
background: #ccc;
border-radius: 5px;
opacity: 0.5;
margin-bottom: 20px;
}

	.m_boletin_2014 {
display: block;
position: relative !important;
margin-top: 0px !important;
margin-left: 0px !important;
text-align: center;
}
.centro3{left: 0}
.centro3 a{margin-left: 35px; font-size: 22px; color: #fff}
.title_terapia{font-size: 20px}
				#window{
				left: calc(38% - 130px - 1em)
			}

				.item-check{
					display: block;
					float: none;
					margin: 30px auto;
					width: 50%;
					
				}

				.brok{display: block; width: 90% }
				.bg-black{font-size: 20px !important; text-align: center;}

			}


@media screen and (max-width: 360px){

	.contenedor_lista_boletines {
width: 60%;
margin: 0 auto;
text-align: center;
}

.boletines_lista li{		
	list-style: none;
	margin-left: 0px !important
}

.boletines_lista li a {
padding: 5px 55px;
background: #ccc;
border-radius: 5px;
opacity: 0.5;
margin-bottom: 20px;
}

	.m_boletin_2014 {
display: block;
position: relative !important;
margin-top: 0px !important;
margin-left: 0px !important;
text-align: center;
}
.centro3{width: 80%; left: 0px}
.centro3 a{margin-left: 50px; font-size: 25px; color: #fff}
.contenido-home h2 {font-size: 27px; width: 95%}
.date{padding-bottom: 10px}
.bg-black {
	margin-left: 0px;
	width: 92.3%;
	font-size: 13px !important;
}

.centered3{top: 13px}
.about_contact{width: auto !important;}
.about_contact p {font-size: 19px;line-height: 21px;}
.centro{font-size: 18px}
#window{left: calc(41% - 130px - 1em)}

}


@media screen and (max-width: 320px){

	.contenedor_lista_boletines {
width: 60%;
margin: 0 auto;
text-align: center;
}

.boletines_lista li{		
	list-style: none;
	margin-left: 0px !important
}

.boletines_lista li a {
padding: 5px 55px;
background: #ccc;
border-radius: 5px;
opacity: 0.5;
margin-bottom: 20px;
}

	.m_boletin_2014 {
display: block;
position: relative !important;
margin-top: 0px !important;
margin-left: 0px !important;
text-align: center;
}
.centro3{width: 80%; left: 0px}
.centro3 a{margin-left: 35px; font-size: 22px; color: #fff}
.bg-black{width: 92%}

#window{
				left: calc(41% - 134px - 1em)
			}

}