/**
 * CSS Modal
 * Modal as reusable module
 * http://drublic.github.com/css-modal
 *
 * @author Hans Christian Reinl - @drublic
 * @version 1.0.4
 *
 * Usage:
 *    selector {
 *        @extend %modal;
 *    }
 */
/*
 * Configuration
 */
html {
  overflow-y: scroll;
}

.has-overlay {
  overflow: hidden;
}
.has-overlay > body {
  height: 100%;
  overflow-y: scroll;
}

.semantic-content {
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  opacity: 0;
  color: #222;
  line-height: 1.3;
  display: none\9;
}
.semantic-content:target {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.is-active.semantic-content {
  display: block\9;
}
.semantic-content:target {
  display: block\9;
}
.semantic-content .modal-inner {
  position: absolute;
  top: 0px;
  left: 34%;
  z-index: 20;
  margin-left: -325px;
  width: 1080px;
  overflow-x: hidden;
  border-radius: 2px;
  background: #140b0b;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}
.semantic-content .modal-inner > img,
.semantic-content .modal-inner > video,
.semantic-content .modal-inner > iframe {
  width: 100%;
  height: auto;
 
}
.semantic-content .modal-inner > img {
  width: auto;
  max-width: 100%;
}
.semantic-content header {
  border-bottom: 1px solid #dddddd;
  padding: 0 1.2em;
}
.semantic-content header > h2 {
  margin: 0.5em 0;
}
.semantic-content .modal-content {
  max-height: 400px;
  max-height: 70vh;
  border-bottom: 1px solid #dddddd;
  padding: 15px 1.2em;
  overflow-x: hidden;
  overflow-y: auto;
}
.semantic-content .modal-content > * {
  max-width: 100%;
}
.semantic-content footer {
  border-top: 1px solid white;
  padding: 0 1.2em 18px;
  background: #f0f0f0;
  border-radius: 2px;
}
.semantic-content .modal-close {
  display: block;
  text-indent: -100px;
  overflow: hidden;
}
.semantic-content .modal-close:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AAAAAMwA0QDNTiUx4gAAAABJRU5ErkJggg==");
}
.semantic-content .modal-close:after {
  content: '\00d7';
  position: absolute;
  top: 80px;
  left: 56.7%;
  z-index: 20;
  margin-left: 285px;
  background: #291212;
  border-radius: 2px;
  padding: 2px 8px;
  font-size: 1.2em;
  text-decoration: none;
  text-indent: 0;
  background: url("../img/close.png");
  width: 110px;
  height: 36px;
}

#ninja_forms_field_9 {
  width: 135px;
  display: inline-block;
  position: relative;
  top: 6px;
  left:3px;
}

#ninja_forms_field_22 {
  width: 135px;
  display: inline-block;
  position: relative;
  top: 6px;
  left:3px;
}


#ninja_forms_field_10 {
  width: 116px;
  display: inline-block;
  position: relative;
  top: 6px;
  left: 3px;
}

#ninja_forms_field_24 {
  width: 116px;
  display: inline-block;
  position: relative;
  top: 6px;
  left: 3px;
}

#ninja_forms_field_13 {
  width: 135px;
  display: inline-block;
  position: relative;
  top: 7px;
  left: 3px;
}

#ninja_forms_field_23 {
  width: 135px;
  display: inline-block;
  position: relative;
  top: 7px;
  left: 3px;
}

#ninja_forms_field_9_div_wrap {
  /* background: red; */
  width: 190px;
  position: relative;
  top: -7px;
}

#ninja_forms_field_22_div_wrap {
  /* background: red; */
  width: 190px;
  position: relative;
  top: -7px;
}

#ninja_forms_field_13_div_wrap {
  /* background: red; */
  width: 200px;
  position: relative;
  top: -7px;
  left: 3px;
}

#ninja_forms_field_23_div_wrap {
  /* background: red; */
  width: 200px;
  position: relative;
  top: -7px;
  left: 3px;
}

#ninja_forms_field_10_div_wrap {
/* background: red; */
width: 230px;
position: relative;
top: -7px;
left: 21px;
}

#ninja_forms_field_24_div_wrap {
/* background: red; */
width: 230px;
position: relative;
top: -7px;
left: 21px;
}

#ninja_forms_field_12_div_wrap {
/* background: red; */
position: relative;
top: 15px;
}

#ninja_forms_field_2_div_wrap {
position: relative;
top: 15px;
margin-bottom: 50px;
}

#ninja_forms_field_5_div_wrap {
  margin: 0 auto;
  width: 50%;
  display: block;
  margin-bottom: 32px;
}


#ninja_forms_field_28_div_wrap {
  margin: 0 auto;
  width: 50%;
  display: block;
  margin-bottom: 32px;
}


.ninja-forms-req-symbol {
  display: none;
}

.ninja-forms-required-items {
  display: none;
}

.cuenta-ban {
  width: 58%;
  text-align: left;
  float: right;
  position: relative;
  /* top: -85px; */
  /* margin-right: 54px; */
  font-family: "MyriadPro-It";
  color: #D1706E;
  top: 60px;
  left: -52px;
}

#formu2 {
  width: 92%;
  margin: 0 auto;
  text-align: center;
}

.block_paypal {
    width: 70%;
    display: block;
    /* vertical-align: top; */
    height: 175px;
    margin: 3px auto;
    /* background: rgb(111, 98, 98); */
}

.block_paypal h2 {
  color: #fff;
  font-family: "MyriadPro-Cond";
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  /* color: #D1706E; */
  text-align: right;
  position: relative;
  top: 80px;
}

.donation {
  /* background: red; */
  width: 30%;
  color: #fff;
  font-family: "MyriadPro-It";
  position: relative;
  top: 95px;
  text-align: right;
}


.other_amount {
  /* color: #fff; */
  width: 30%;
  color: #fff;
  font-family: "MyriadPro-It";
  position: relative;
  top: 122px;
  /* background: red; */
  text-align: right;
}

.pago {
  /* background: red; */
  width: 30%;
  color: #fff;
  font-family: "MyriadPro-It";
  position: relative;
  top: 210px;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .semantic-content .modal-inner {
    left: 20px;
    right: 20px;
    margin-left: 0;
  }
  .semantic-content .modal-close {
    left: auto;
    right: 33px;
    margin-left: 0;
  }
  .semantic-content .modal-close:after {
    margin-left: 40%;
  }
  .field-wrap{width: 90% !important}

  .semantic-content .modal-close:after{
    width: 98px;
    height: 25px;
  }

    .logo2 {
    left: 24%;
position: relative;
  }

.formuti,.formuti2 {
margin-top: 17px;
margin-bottom: 30px;
/* left: -28px; */
position: relative;
/* background: red; */
text-align: left !important;
width: 50%;
margin-left: 15px;
}
  #ninja_forms_field_9{
    width: 250px;
    
  }
  #ninja_forms_field_13{
    width: 250px;
    
  }
  #ninja_forms_field_10{
    width: 250px;
    
  }
  .field-wrap input{
    padding-top: 6px;
    display: block !important;
    margin-top: 0px !important;
    margin-bottom: 16px;
  }
  #ninja_forms_field_5_div_wrap{margin: 0}
  .field-wrap input[type="submit"]{left: 0px !important}
  #amount{width: 100%}

   #ninja_forms_form_1_cont {
      /* background: red; */
      width: 85%;
  }

  #ninja_forms_form_3_cont {
      /* background: red; */
      width: 85%;
  }

  .loglog {
  width: 85%;

  }
  #ninja_forms_field_9_error{left: 0px !important}
  #ninja_forms_field_10_error{left: 0px !important}
  #ninja_forms_field_13_error{left: 0px !important}

 .block_paypal {
  display: block;
  width: 68%;
  /* background: red; */
  margin-left: 0px;
}
.block_paypal h2{text-align: center;}

}

@media screen and (max-width: 640px) {
  .logo2{left: 135px}
    #ninja_forms_form_1_cont {
      /* background: red; */
      width: 70%;
  }

  #ninja_forms_form_3_cont {
      /* background: red; */
      width: 70%;
  }
   #formu2{width: 60%}
  #amount{
    width: 55.3% !important;
    left: -11px;
    top: -17px;
 }
 .cuenta-ban{top: 70px !important}
  }

.block_paypal {
  display: block;
  width: 65%;
  height: 165px;

}
.block_paypal h2{text-align: left;}

.cuenta-ban {
  width: 58%;
  text-align: left;
  float: right;
  position: relative;
  /* top: -85px; */
  /* margin-right: 54px; */
  font-family: "MyriadPro-It";
  color: #D1706E;
  top: 75px;
  left: -52px;
}


}

@media screen and (max-width: 480px) {
 
  .logo2{left: 70px}
    #ninja_forms_form_1_cont {
      /* background: red; */
      width: 50%;
  }

  #ninja_forms_form_3_cont {
      /* background: red; */
      width: 50%;
  }
  #formu2{width: 50%}
  #accept_paypal_payment_form input{left: -18px}
  #amount{left: -20px}

  .block_paypal {
  display: block;
  width: 75%;
  /* background: red; */
  height: 200px;
  margin-left: -220px;
}
.block_paypal h2{text-align: left;}
.cuenta-ban {
  width: 92%;
  margin: 0 0px;
  float: none;
  /* background: red; */
  text-align: left;
}

.cuenta-ban{top: 115px !important; width: 50%; left: -176px}

}

@media screen and (max-width: 360px) {
  .logo2{left: -15px}
    #ninja_forms_form_1_cont {
      /* background: red; */
      width: 32%;
  }

  #ninja_forms_form_3_cont {
      /* background: red; */
      width: 32%;
  }
   #formu2{width: 30%}
  #amount{width: 100% !important; top: 12px !important}
    .block_paypal {
  display: block;
  width: 100%;
  /* background: red; */
  height: 200px;
  margin-left: -365px;
}
.block_paypal h2{text-align: left;}

.cuenta-ban {
width: 100%;
left: 20px;
top: 80px !important;
}

.donation{width: 55%}
.other_amount{top: 150px; width: 55%}
.pago{width: 55%}
#accept_paypal_payment_form input{
  margin-top: -20px !important;
  left: -7px !important;
  width: 88% !important;
}

#accept_paypal_payment_form input[type="image"] {
width: 45% !important;
left: 98px !important;
top: 100px !important;
}




}

@media screen and (max-width: 320px) {
  .logo2{left: -34px}
    #ninja_forms_form_1_cont {
      /* background: red; */
      width: 32%;
  }

  #ninja_forms_form_3_cont {
      /* background: red; */
      width: 32%;
  }
  #formu2{width: 30%}
  #amount {
      width: 100% !important;
      position: relative !important;
      left: -15px !important;
}
  .cuenta-ban {
width: 100%;
left: 3px;
top: 80px !important;
}

.donation{width: 55%}
.other_amount{top: 150px; width: 55%}
.pago{width: 55%}
#accept_paypal_payment_form input{
  margin-top: -20px !important;
  left: -7px !important;
  width: 88% !important;
}

#accept_paypal_payment_form input[type="image"] {
width: 45% !important;
left: 80px !important;
top: 100px !important;
}

}

@media screen and (max-width: 959px) {
  .semantic-content {
    -webkit-transform: translate(0, 400px);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: -webkit-transform .25s ease-in-out, opacity 1ms .25s;
    -moz-transition: -moz-transform .25s ease-in-out, opacity 1ms .25s;
    -o-transition: -o-transform .25s ease-in-out, opacity 1ms .25s;
    -ms-transition: -ms-transform .25s ease-in-out, opacity 1ms .25s;
    transition: transform .25s ease-in-out, opacity 1ms .25s;
    display: block;
    height: 100%;
    bottom: auto;
  }
  .semantic-content:target {
    -webkit-transition: -webkit-transform .25s ease-in-out;
    -moz-transition: -moz-transform .25s ease-in-out;
    -o-transition: -o-transform .25s ease-in-out;
    -ms-transition: -ms-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
  }
  .semantic-content:before {
    background-color: #140b0b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#140b0b), to(#140b0b));
    background-image: -webkit-linear-gradient(top, #140b0b, #140b0b);
    background-image: -moz-linear-gradient(top, #140b0b, #140b0b);
    background-image: -o-linear-gradient(top, #140b0b, #140b0b);
    background-image: linear-gradient(to bottom, #140b0b, #140b0b);
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    height: 3em;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  }
  .semantic-content .modal-inner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 3em;
    height: 100%;
    overflow: scroll;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .semantic-content .modal-content {
    max-height: none;
  }
  .semantic-content .modal-close {
    right: auto;
    text-decoration: none;
  }
  .semantic-content .modal-close:before {
    display: none;
  }
  .semantic-content .modal-close:after {
    content: attr(data-close);
    top: 0.4em;
    left: 1em;
    z-index: 40;
    margin-left: 0;
    font-size: 1em;
    padding: 0.5em 1em;
  }
}

.field-wrap {
  margin: 0px 4px;
  width: 32%;
  display: inline-block;
  color: #D1706E;
  font-family: "MyriadPro-Cond";
  font-size: 20px !important;
}

.field-wrap input {
  border: 1px #D1706E solid;
  opacity: 0.2;
  outline: 0;
  width: 100%;
  height: 13px;
  background: none;
  color: #fff;
  font-family: 'myriad';
  font-size: 14px;
  display: inline-block;
  margin-top: -13px;
  }

select.ninja-forms-field {
  width: 86%;
  background: none !important;
  border: 1px #D1706E solid;
  opacity: 0.2;
  margin-left: 0px;
  font-family: 'myriad';
  font-size: 15px;
  margin-top: 2px;
}

.formuti {
  font-family: "MyriadPro-Cond";
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: #D1706E;
}

.formuti2 {
  font-family: "MyriadPro-Cond";
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: #D1706E;
  display: none;
}

.field-wrap input[type="submit"] {
  display: block;
  width: 26%;
  height: 3%;
  background: #D1706E;
  border-radius: 5px;
  border: none;
  padding: 5px;
  color: #000;
  cursor: pointer;
  position: relative;
  top: 17px;
  left: 37%;
  opacity: 0.5;
  font-size: 19px;
}
.ninja-forms-required-items {
  color: #D1706E;
  margin-bottom: 18px;
  font-family: Calibri;
  margin-left: 5px;
}

#ninja_forms_form_1_response_msg {
  color: #D1706E;
  margin-bottom: 18px;
  font-family: Calibri;
  margin-left: 5px;
}

#ninja_forms_form_3_response_msg {
  color: #D1706E;
  margin-bottom: 18px;
  font-family: Calibri;
  margin-left: 5px;
}


#ninja_forms_field_1_error p {
  font-size: 17px;
}

#ninja_forms_field_3_error p {
  font-size: 17px;
}

#ninja_forms_field_2_error p {
  font-size: 17px;
}

#ninja_forms_field_6_error {
  font-size: 17px;
}

#ninja_forms_field_7_error {
  font-size: 17px;
}

#ninja_forms_field_8_error {
  font-size: 17px;
}

#ninja_forms_field_9_error {
  font-size: 17px;
  position: relative;
  left: 55px;
}

#ninja_forms_field_13_error {
  font-size: 17px;
  position: relative;
  left: 75px;
}

#ninja_forms_form_1_wrap {
  width: 91%;
  margin: 0 auto;
  padding-bottom: 30px;
}

#ninja_forms_form_3_wrap {
  width: 91%;
  margin: 0 auto;
  padding-bottom: 30px;
}

#ninja_forms_field_10_error {
  font-size: 17px;
  position: relative;
  left: 103px;
}

#ninja_forms_field_12_error {
  font-size: 17px;
}

.logo2 {
margin-left: 45px;
}

#accept_paypal_payment_form {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#amount {
  width: 55%;
  background: #fff !important;
  color: #000;
  font-size: 16px;
  font-family: Calibri;
  position: relative;
  left: -11px;
   top: -20px; 
}

#accept_paypal_payment_form input {
  /* border-radius: 5px; */
  border: 0;
  width: 52%;
  padding: 5px;
  margin-top: -138px;
  position: relative;
  left: -9px;
}

#accept_paypal_payment_form input[type="image"] {
  width: 19%;
  /* background: red; */
  margin-left: -400px;
  position: relative;
  top: 10px;
}

#accept_paypal_payment_form strong {
  display: none;
}


@media screen and (max-height: 46em) and (min-width: 30em) {
  .semantic-content .modal-content {
    max-height: 340px;
    max-height: 50vh;
  }
}
@media screen and (max-height: 36em) and (min-width: 30em) {
  .semantic-content .modal-content {
    max-height: 265px;
    max-height: 40vh;
  }
}

@media screen and (min-width: 30em) {
  .semantic-content {
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }

}
